<nav class="navbar is-primary">
  <a class="navbar-item" [routerLink]="['/']" routerLinkActive="router-link-active"  style="font-weight:bold;">
    <img src="assets/beer-512.png"><h2>TheGoodBartender</h2>
  </a>
  <div class="container">
  <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
  <div id="navMenu" class="navbar-menu">
  <div class="navbar-end">
          <a routerLink="/" class="navbar-item" id="navbar-font">Home</a>
          <a routerLink="/FindMyDrink" class="navbar-item" id="navbar-font">Drink Finder</a>
          <a href="#" class="navbar-item" id="navbar-font">BarTinder</a>
          <a href="#" class="navbar-item" id="navbar-font">MyBar</a>
          <a href="#" class="navbar-item" id="navbar-font">Merch</a>
        </div>
  </div>
  </div>
  </nav>